* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: indigo;
    background-image: linear-gradient(indigo, purple);

}

.calcolatrice {
    position: relative;
    display: grid;
}

.calcolatrice #testo {
    grid-column: span 4;
    height: 100%;
    text-align: right;
    border: none;
    outline: none;
    padding: 5%;
    font-size: 25px;
}

.calcolatrice span {
    display: grid;
    width: 5em;
    height: 5em;
    color: white;
    background-color: rgb(20, 19, 19);
    background-image: linear-gradient(rgb(20, 19, 19),rgb(20, 19, 25));
    justify-items: center;
    align-items: center;
    border: 1px solid rgb(46, 45, 45);

}


span:hover, span.btnac:hover, span.btnoperazione:hover, span.btnuguale:hover, span.btnpercent:hover {
    background: rgb(172, 255, 47);
    /*background-image: linear-gradient(rgb(181, 253, 72),rgb(172, 255, 47),rgb(153, 255, 0));*/
    transition: 0.2s ease-in-out;
    
    

}


span.btnac {
    grid-column: span 2;
    width: 10em;
    background: lightgrey;
   
}

span.btnpercent {
    background: lightgrey;
}

span.btnuguale {
    grid-column: span 2;
    width: 10em;
    background: orange;
}

span.btnoperazione {
    background: orange;
}

#op {
    height: 5%; 
    width: 5%; 
    text-align: center; 
    display: none;
    
}


